In [65]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import re

In [66]:
# Download necessary NLTK data (if not already downloaded)
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to C:\Users\DELL/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DELL/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\DELL/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [67]:
# Load your dataset

df = pd.read_csv('D:/Project-Fake_news_classifier/data/processed/fake_news_eda.csv')

df_nltk = df.copy()

In [68]:
df.head()

                                                text  label
0  No comment is expected from Barack Obama Membe...      1
1     Did they post their votes for Hillary already?      1
2   Now, most of the demonstrators gathered last ...      1
3  A dozen politically active pastors came here f...      0
4  The RS-28 Sarmat missile, dubbed Satan 2, will...      1

In [69]:
# 1. Lowercasing all text
df_nltk['text'] = df_nltk['text'].apply(lambda x: x.lower())

In [70]:
# 2. Removing special characters, and punctuation
df_nltk['text'] = df_nltk['text'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x))

In [71]:
# 3. Tokenization: Convert the text into individual words
df_nltk['processed_text'] = df_nltk['text'].apply(word_tokenize)

In [72]:
# 5. Lemmatization: Reduce words to their base or root form
lemmatizer = WordNetLemmatizer()
df_nltk['processed_text'] = df_nltk['processed_text'].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])

In [73]:
# 6. Reconstructing the text from processed tokens
df_nltk['processed_text'] = df_nltk['processed_text'].apply(lambda x: ' '.join(x))

In [74]:
# Display the processed DataFrame
df_nltk[['text', 'processed_text']]

,text,processed_text
0,no comment is expected from barack obama membe...,no comment is expected from barack obama membe...
1,did they post their votes for hillary already,did they post their vote for hillary already
2,now most of the demonstrators gathered last n...,now most of the demonstrator gathered last nig...
3,a dozen politically active pastors came here f...,a dozen politically active pastor came here fo...
4,the rs28 sarmat missile dubbed satan 2 will re...,the rs28 sarmat missile dubbed satan 2 will re...
...,...,...
62713,an email released by wikileaks on sunday appea...,an email released by wikileaks on sunday appea...
62714,washington reuters hackers believed to be wor...,washington reuters hacker believed to be worki...
62715,you know because in fantasyland republicans ne...,you know because in fantasyland republican nev...
62716,migrants refuse to leave train at refugee camp...,migrant refuse to leave train at refugee camp ...
62717,mexico city reuters donald trumps combative s...,mexico city reuters donald trump combative sty...

In [75]:
df_nltk.head()

,text,label,processed_text
0,no comment is expected from barack obama membe...,1,no comment is expected from barack obama membe...
1,did they post their votes for hillary already,1,did they post their vote for hillary already
2,now most of the demonstrators gathered last n...,1,now most of the demonstrator gathered last nig...
3,a dozen politically active pastors came here f...,0,a dozen politically active pastor came here fo...
4,the rs28 sarmat missile dubbed satan 2 will re...,1,the rs28 sarmat missile dubbed satan 2 will re...

In [76]:
df_nltk.to_csv('D:/Project-Fake_news_classifier/data/processed/fake_news_processed.csv', index=False)